<!DOCTYPE html>
<html>
<head>
    <title>Assignment-5</title>
        <style>
        h1{
            font-size: 25px;
        }
        h2{
            font-size: 25px;
        }
    </style>
</head>
<body>
    <center><h1>CSE 6332 - Assignment 5</h1></center>
    <center><h2>DEEP MOMAYA (1002076217)</h2></center>
    <hr>
    <br><br>
    <a href="/" class="href">HOME</a><br><br>
    <a href="/q1" class="href">WORD COUNT</a><br><br>
    <a href="/q2" class="href">FREQUENTLY OCCURING WORDS</a><br><br>
    <a href="/q3" class="href">LETTER BIGRAMS</a><br><br>
    <a href="/q4" class="href">WORD BIGRAMS</a><br><br>
    <a href="/q5" class="href">REPLACE BY LETTERS</a><br><br>
    <a href="/q6" class="href">REMOVE STOP WORDS</a><br><br>
    <a href="/q7" class="href">SEARCH LINES</a><br><br>
    <a href="/q8" class="href">CREATE TEXT FILE</a><br><br>
</body>
</html>