<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment-5</title>
</head>
<body>
    {% include 'index.html' %}
    <form action="/runq5" method="post">
        Find text: <input type="text" name="f" id=""><br>
        Replace text: <input type="text" name="r"><br>
        <button type="submit">Replace</button>
    </form>
    {% if msg %}
    {% for x in data %}
    {{x}}
    {% endfor %}
    {% endif %}
    {% if error %}
    {{ error }}
    {% endif %}
</body>
</html>