<!DOCTYPE html>
<html>
<head>
    <title>Assignment-7</title>
        <style>
        h1{
            font-size: 25px;
        }
        h2{
            font-size: 25px;
        }
    </style>
</head>
<body>
    <center><h1>Assignment-7</h1></center>
    <hr>
    <br><br>
    <a href="/" class="href">HOME</a><br><br>
    <a href="/listuser" class="href">LIST USERS BY ROOM</a><br><br>
    <a href="/task" class="href">ADMIT SET VARIABLES</a><br><br>
    <a href="/player1" class="href">SET PLAYER NAME 1</a><br><br>
    <a href="/player2" class="href">SET PLAYER NAME 2</a><br><br>
</body>
</html>